NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
TODOAY_SUPABASE_ACCESS_TOKEN=
TODOAY_SUPABASE_REFRESH_TOKEN=
TODOAY_MCP_PUBLIC_URL=
PORT=3333
TODOAY_MCP_PORT=3333
TODOAY_MCP_SCOPES=openid email profile
